* {
    border: 2px dotted red;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    max-height: max-content;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-attachment: fixed;
    background-color: #2d3436;
    background-image: linear-gradient(360deg, #153c48 40%, #121212 87%);
    font-family: 'Jost', sans-serif;
    margin: 0px 0px 0px 0px;
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
}

