/* * {
    border: 2px dotted red;
} */

body {
    max-width: 100vw;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-attachment: fixed;
    background-color: #2d3436;
    background-image: linear-gradient(360deg, #153c48 40%, #121212 87%);
    font-family: 'Jost', sans-serif;
}
