h1 {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}

h2 {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}

h3 {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}

h4 {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}

h5 {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}

h6 {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}

p {
    color: rgb(233, 233, 233);
    font-family: 'Jost', sans-serif;
}