
h1 {
    color: rgb(233, 233, 233);
}

h2 {
    color: rgb(233, 233, 233);
}

h3 {
    color: rgb(233, 233, 233);
}

h4 {
    color: rgb(233, 233, 233);
}

h5 {
    color: rgb(233, 233, 233);
}

h6 {
    color: rgb(233, 233, 233);
}

p {
    color: rgb(233, 233, 233);
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.devicon-ruby-plain {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-ruby-plain {
        font-size: 25px;
    }
}

.devicon-rails-plain {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-rails-plain {
        font-size: 25px;
    }
}

.devicon-postgresql-plain-wordmark {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-postgresql-plain-wordmark {
        font-size: 25px;
    }
}

.devicon-html5-plain {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-html5-plain {
        font-size: 25px;
    }
}

.devicon-css3-plain {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-css3-plain {
        font-size: 25px;
    }
}

.devicon-sass-original {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-sass-original {
        font-size: 25px;
    }
}

.devicon-javascript-plain {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-javascript-plain {
        font-size: 25px;
    }
}

.devicon-typescript-plain {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-typescript-plain {
        font-size: 25px;
    }
}

.devicon-bootstrap-plain-wordmark {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-bootstrap-plain-wordmark  {
        font-size: 25px;
    }
}

.devicon-heroku-original-wordmark {
    font-size: 40px;
    color: rgb(233, 233, 233);
}

@media (max-width: 480px) {
    .devicon-heroku-original-wordmark {
        font-size: 25px;
    }
}

.devicon-linkedin-plain {
    font-size: 25px;
    color: rgb(233, 233, 233);
    margin-right: 10px;
}

.devicon-github-original {
    font-size: 25px;
    color: rgb(233, 233, 233);
    margin-right: 10px;
}

