.footer {
    background-color: black;
    display: flex;
    min-height: 9vh;
    max-height: 30vh;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px) {
    footer {
        margin-top: 20vh;
    }
}

.footer-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}