header {
    margin: 0vh 3vw 0vh 3vw;
    display: flex;
    position: absolute;
    position: sticky;
    top: 0vh;
    min-height: 9vh;
    max-height: 30vh;
    width: 100vw;
}

.header-enrique {
    position: relative;
    top: 0vh;
    left: 2vw;
}

.header-links {
    position: absolute;
    display: flex;
    top: 1.5vh;
    right: 2vw;
}

.header-links h3 {
    padding: 0vh 1vw 0vh 1vw;
}