header {
    margin: 0vh 3vw 0vh 3vw;
    display: flex;
    position: absolute;
    position: sticky;
    top: 0vh;
    min-height: 9vh;
    max-height: 30vh;
    width: 100vw;
    background: #121212;
}

.header-enrique {
    position: relative;
    top: 0vh;
    left: 2vw;
}

@media (max-width: 480px) {
    .header-enrique {
        left: 4vw;
        top: -2vh;
    }
}

.header-links {
    position: absolute;
    display: flex;
    top: 1.5vh;
    right: 2vw;
}

@media (max-width: 480px) {
    .header-links {
        top: 0.7vh;
        font-size: 12px;
    }
}

.header-links h3 {
    padding: 0vh 1vw 0vh 1vw;
}