header {
    z-index: 1;
    margin: 0vh 0vw 0vh 0vw;
    display: flex;
    position: absolute;
    position: sticky;
    top: 0vh;
    height: 11vh;
    width: 100vw;
    background: 	rgb(18, 18, 18);
}

.header-enrique {
    position: relative;
    top: 0vh;
    left: 2vw;
}

@media (max-width: 480px) {
    .header-enrique {
        left: 4vw;
        top: -2vh;
    }
}

.header-links {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 1.5vh;
    right: 2vw;
}

@media (max-width: 480px) {
    .header-links {
        top: 0.7vh;
        font-size: 12px;
    }
}

.header-links h3 {
    z-index: 1;
    padding: 0vh 1vw 0vh 1vw;
}